rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * FIRESTORE SECURITY RULES - GLOBAL TRADING CHINA
     * Version de déblocage total pour prototype
     */

    // Autorisation globale pour assurer le bon fonctionnement de toutes les pages (Admin et Client)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}